# Normalisation of line endings
*                text=auto
.gitattributes   text
.gitignore       text
makefile      text
Jenkinsfile*  text
# Text files
*.bak         text
*.bat         text eol=crlf
*.c           text
*.c++         text
*.cc          text
*.cpp         text
*.css         text
*.csv         text
*.cxx         text
*.df          text
*.gradle      text
*.h           text
*.h++         text
*.hh          text
*.hpp         text
*.htm         text
*.html        text
*.inc         text
*.inf         text
*.ini         text
*.java        text
*.js          text
*.json        text
*.jsp         text
*.jspf        text
*.jspx        text
*.lnk         text
*.pl          text
*.properties  text
*.settings    text
*.sh          text eol=lf
*.src         text
*.tag         text
*.tagx        text
*.tco         text
*.tld         text
*.txt         text
*.txt         text
*.xml         text
*.xsd         text
*.yml         text
# Binary files
*.7z       binary
*.a        binary
*.app      binary
*.dll      binary
*.dylib    binary
*.exe      binary
*.gch      binary
*.gz       binary
*.jar      binary
*.la       binary
*.lai      binary
*.lib      binary
*.lo       binary
*.o        binary
*.obj      binary
*.out      binary
*.pch      binary
*.slo      binary
*.so       binary
*.so       binary
*.war      binary
*.zip      binary
# Media content
*.class    binary
*.dll      binary
*.ear      binary
*.eps      binary
*.fla      binary
*.flv      binary
*.gif      binary
*.gif      binary
*.ico      binary
*.ico      binary
*.ico      binary
*.jar      binary
*.jpeg     binary
*.jpeg     binary
*.jpg      binary
*.jpg      binary
*.mov      binary
*.mp3      binary
*.mp4      binary
*.png      binary
*.png      binary
*.png      binary
*.svg      binary
*.swf      binary
*.tif      binary
*.tiff     binary
*.ttf      binary
# Documents
*.adoc     text
*.csv      text
*.DOC      diff=astextplain
*.doc      diff=astextplain
*.DOCX     diff=astextplain
*.docx     diff=astextplain
*.DOT      diff=astextplain
*.dot      diff=astextplain
*.md       text
*.PDF      diff=astextplain
*.pdf      diff=astextplain
*.RTF      diff=astextplain
*.rtf      diff=astextplain
